/* .background-image-container {
    background-image: url('../img/bgcover.jpg'); 
    background-size: cover;
    background-position: center;
    height: 460px;
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%);
    font-weight: bold;
    padding: 20px;
    color: rgb(241, 12, 12); 
    max-width: 50%; 
  }
  .col-md-6{
    margin-top: 40px;
    
  } */


 
