<style>
.list-unstyled li a{
    color: seagreen;
    text-decoration: none;
    border:  1px solid rgba(236, 240, 241, 0.3);
    text-align: left;
    padding: 5px 8px;
    display: block;
 }
    .list-unstyled li a span{
       float: right;
    }
 .offset{
    margin-left: 3%;
 }
</style>
<div class="col-sm-2 border-end">
    <div class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profileview' %}" class="active">Profile <span> > </span> </a></li> 
        <li class="d-grid"><a href="{% url 'address' %}">Saved Address  <span> > </span>  </a></li>
        <li class="d-grid"><a href="{% url 'order' %}">Orders <span> > </span>  </a></li>
    </div>
</div>
 