{% extends 'nav.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{% block content %} 


<div class="container" style="max-width: 400px; margin: 0 auto;  margin-top: 5%; padding: 20px;  box-shadow: 0px 0px 10px 0px #666;">

    <div class="row " style="margin-top: 6%;">
       <!-- <h2>Welcome <span class="text-capitalize ">{{request.user.username}}</span></h2> -->
    
        
          <div class="col-sm-9 offset-sm-1 ">
            <form action="" method="post">
              {% csrf_token %}
                {{ form.oldpassword.label_tag }} {{ form.oldpassword }} <small class="text-danger">{{ form.oldpassword.errors|striptags }}</small><br>
                {{ form.new_password1.label_tag }} {{ form.new_password1 }} <small class="text-danger">{{ form.new_password1.errors|striptags }}</small><br>
                {{ form.new_password2.label_tag }} {{ form.new_password2 }} <small class="text-danger">{{ form.new_password2.errors|striptags }}</small><br>
                <!-- {% for fm in form %}
                      {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                {% endfor %} -->
                <a href="{% url 'passwordchangedone' %}" type="submit"  class="btn btn-success" value="Change Password" >Change Password</a>

                {% if form.non_field_errors %}
                 {% for error in form_non_field_errors %}
                   <p class="alert alert-danger" role="alert">{{errors}}</p>

                {% endfor %}
                {% endif %}

                {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}"  role="alert">
                      {{msg}}
                    </div>
                {% endfor %}
          {% endif %}
            </form>
          </div>
    </div>
</div>




 {% endblock %}