


{% extends 'nav.html' %}
{% load static %}
{% block title %} Fruits {% endblock title %}

{% block content %} 
<div class="content " style="margin-top:5%;">
    <h2 class="text-center text-success mt-10" >Fruits</h2>
   
{% for f in fruits %}
<div class="card shadow p-3 mb-5 bg-body-tertiary   rounded d-inline-flex"
 style="width: 18rem; margin-top: 2%; margin-left: 3%;">
  <a href="{% url 'product_details' f.id %}">
    
    <div class="image-container">
        <img src="{{ f.product_image.url }}"  class="card-img-top custom-card-img" style="height: 13rem;"  alt="...">
    </div>
  </a>
    <div class="card-body">
      <h5 class="card-title" style="font-size: 5;">{{ f.name }}</h5>
      <p class="card-text"> $ {{ f.price }}</p>
      <p class="card-text">{{ f.description }}</p>
    
     
    </div>  
  </div>
{% endfor %}
</div>
{% endblock %}










