{% extends 'nav.html' %}
{% load static %}
{% block title %} Password change {% endblock title %}
{% block content %} 
<style>
    .list-unstyled li a{
       color: seagreen;
       text-decoration: none;
       border:  1px solid rgba(236, 240, 241, 0.3);
       text-align: left;
       padding: 5px 8px;
       display: block;
    }
       .list-unstyled li a span{
          float: right;
       }
   
 </style>
<div class="container my-5">

    <div class="row" style="margin-top: 6%;">
       <h2>Welcome <span class="text-capitalize">{{request.user.username}}</span></h2>
    
        
          <div class="col-sm-9 offset-sm-1">
                    <div class="alert alert-success" role="alert">
                    Password Change SuccessFully
                    </div>
          </div>
{% endblock %}